@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif
}
.v-application {
    background-color: #EFEFEF !important;
}
.border-2-grey{
    border: 2px solid #EFEFEF;
}
.border-circle {
    border-radius: 100%;
}
